extends layout

block javascript
  script(src="/js/app.js")

block content
  h1 EEG Recorder
  p Welcome #{user.username}
  div(id="outer")
    //- var hs_ids = Array.from({length: num_headsets}, (_, i) => i + 1)
    //for hsid in hs_ids
    //  button(type="button" class="c-btn-blue" id="mybutton"  onclick="connect("+hsid+")") Connect
    div(class="inner")
      button(type="button" id="connect"  onclick="connect()") #[span(class="glyphicon glyphicon-off")]Connect
    div(class="inner")
      button(type="button" id="toggle_record" onclick="toggle_record()") #[span(id="record_button") Start Recording]

  - var ids = Array.from({length: 4}, (_, i) => i)
  for id in ids
    div(id="headset-" + id, style="display: none")
      div 
        p Name: #[span(id="headset-name-" + id) NA], 
          span Battery: #[span(id="batteryLevel-" + id) NA], 
          span Frame Rate: #[span(id="framerate-" + id) NA], 
          span Accel: x=#[span(id="acc-x-" + id) NA], y=#[span(id="acc-y-" + id) NA], z=#[span(id="acc-z-" + id) NA], 
          span Blink Status: #[span(id="blinkStatus-" + id) NA]

      div(id="electrode-section-" + id)
        div(class="electrode-item")
          h4 #[span(id="electrode-name1-" + id) E1] RMS: #[span(id="rms1-" + id) NA]
          canvas(id="electrode1-" + id)
        div(class="electrode-item")
          h4 #[span(id="electrode-name2-" + id) E2] RMS: #[span(id="rms2-" + id) NA]
          canvas(id="electrode2-" + id)
        div(class="electrode-item")
          h4 #[span(id="electrode-name3-" + id) E3] RMS: #[span(id="rms3-" + id) NA]
          canvas(id="electrode3-" + id)
        div(class="electrode-item")
          h4 #[span(id="electrode-name4-" + id) E4] RMS: #[span(id="rms4-" + id) NA]
          canvas(id="electrode4-" + id)

  div(id="status") 
