extends layout

block javascript
  script(src="/js/app.js")

block content
  h1 EEG Recorder
  p Welcome #{user}
  div(id="outer")
    //- var hs_ids = Array.from({length: num_headsets}, (_, i) => i + 1)
    //for hsid in hs_ids
    //  button(type="button" class="c-btn-blue" id="mybutton"  onclick="connect("+hsid+")") Connect
    div(class="inner")
      button(type="button" id="connect"  onclick="connect()") #[span(class="glyphicon glyphicon-off")]Connect
    div(class="inner")
      button(type="button" id="toggle_record" onclick="toggle_record()") #[span(id="record_button") Start Recording]

  div 
    p Name: #[span(id="headset-name") NA], Firmware: #[span(id="firmware-version") NA], Hardware: #[span(id="hardware-version") NA]. 
    p Temperature: #[span(id="temperature") NA], Battery: #[span(id="batteryLevel") NA], Frame Rate: #[span(id="framerate") NA]
    p Accelerometer: x=#[span(id="acc-x") NA], y=#[span(id="acc-y") NA], z=#[span(id="acc-z") NA]
    p PPG: ppg0=#[span(id="ppg0") NA], ppg1=#[span(id="ppg1") NA], ppg2=#[span(id="ppg2") NA]
    p Blink Status: #[span(id="blinkStatus") NA]

  div(id="electrode-section")
    div(class="electrode-item")
      h4 ELECTRODE #[span(id="electrode-name1") 1] (RMS: #[span(id="rms1") NA])
      canvas(id="electrode1")
    div(class="electrode-item")
      h4 ELECTRODE #[span(id="electrode-name2") 2] (RMS: #[span(id="rms2") NA])
      canvas(id="electrode2")
    div(class="electrode-item")
      h4 ELECTRODE #[span(id="electrode-name3") 3] (RMS: #[span(id="rms3") NA])
      canvas(id="electrode3")
    div(class="electrode-item")
      h4 ELECTRODE #[span(id="electrode-name4") 4] (RMS: #[span(id="rms4") NA])
      canvas(id="electrode4")

