extends layout

block javascript
  script(src="/js/app.js")

block content
  h1 EEG Recorder
  p Welcome #{user.username}
  div(id="outer")
    //- var hs_ids = Array.from({length: num_headsets}, (_, i) => i + 1)
    //for hsid in hs_ids
    //  button(type="button" class="c-btn-blue" id="mybutton"  onclick="connect("+hsid+")") Connect
    div(class="inner")
      button(type="button" id="connect"  onclick="connect()") #[span(class="glyphicon glyphicon-off")]Connect
    div(class="inner")
      button(type="button" id="toggle_record" onclick="toggle_record()") #[span(id="record_button") Start Recording]

  div(id="headset")
    div 
      p Name: #[span(id="headset-name") NA], 
        span Battery: #[span(id="batteryLevel") NA], 
        span Frame Rate: #[span(id="framerate") NA], 
        span Accel: x=#[span(id="acc-x") NA], y=#[span(id="acc-y") NA], z=#[span(id="acc-z") NA], 
        span Blink Status: #[span(id="blinkStatus") NA]

    div(id="electrode-section")
      div(class="electrode-item")
        h4 #[span(id="electrode-name1") E1] RMS: #[span(id="rms1") NA]
        canvas(id="electrode1")
      div(class="electrode-item")
        h4 #[span(id="electrode-name2") E2] RMS: #[span(id="rms2") NA]
        canvas(id="electrode2")
      div(class="electrode-item")
        h4 #[span(id="electrode-name3") E3] RMS: #[span(id="rms3") NA]
        canvas(id="electrode3")
      div(class="electrode-item")
        h4 #[span(id="electrode-name4") E4] RMS: #[span(id="rms4") NA]
        canvas(id="electrode4")
  div(id="status") 
