extends layout

block javascript
  script(src="/js/app.js")

block content
  h1 EEG Recorder
  p Welcome #{user}

  - var hs_ids = Array.from({length: num_headsets}, (_, i) => i + 1)
  for hsid in hs_ids
    button(type="button" class="c-btn-blue" id="mybutton"  onclick="connect("+hsid+")") Connect #{hsid}
