doctype html
html
  head
    title EEG Recorder #{title}
    if csrfToken
      meta(name='token' content='#{csrfToken}')
    if user
      meta(name='username' content='#{user.username}')
      meta(name='userid' content='#{user.id}')
    link(rel='stylesheet', href='/css/app.css')
    block javascript

  body
    block content
    block foot
      #footer
        p EEG Recorder version 0.1
