doctype html
html
  head
    title EEG Recorder #{title}
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/login.css')
    link(rel='stylesheet', href='/css/app.css')
    block javascript

  body
    block content
    block foot
      #footer
        p EEG Recorder version 0.1
