.nav {
	position: absolute;
	top: -130px;
	right: 0;
}

.nav ul {
	margin: 0;
	list-style: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	height: 40px;
	margin-left: 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
}

.nav a {
	display: block;
	color: inherit;
	text-decoration: none;
}

.nav a:hover {
	border-bottom: 1px solid #DB7676;
}

.nav button {
	height: 40px;
}

.nav button:hover {
	border-bottom: 1px solid #DB7676;
	cursor: pointer;
}

.electrode-section {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.electrode-item {
    margin: 5px;
}

.electrode-item h3 {
    text-align: center;
    margin-bottom: 4px;
}

canvas {
    background: #BBB;
    border: solid black 1px;
}

