html,

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #111111;
	min-width: 230px;
	margin: 80 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}

.hidden {
	display: none;
}

.prompt {
	max-width: 400px;
	margin: 50px auto;
	padding: 25px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
}

button {
	display: block;
	padding: 10px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #e6e6e6;
	background: #888;
	font-size: 14px;
	font-weight: 700;
	color: white;
	cursor: pointer;
}

h1 {
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	font-size: 24px;
	font-weight: 500;
}

form section {
	margin: 0 0 20px 0;
	position: relative; /* for password toggle positioning */
}

label {
	display: block;
	margin: 0 0 3px 0;
	font-size: 14px;
	font-weight: 500;
}

input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}


.electrode-section {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%; 
}

.electrode-item {
    margin: 5px;
    display: inline-block;
    width: 22%;
    margin-top: 0;
}

.electrode-item h4 {
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
}

canvas {
    background: #DDD;
    border: gray 1px;
    width: 100%;
}
#outer {
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block;
}
